.chat
  .header
    .left-header
      .left-header__aaa
        group name
        .left-header__bbb
          menber
    .right-header
      edit

  .mmmxxx
    .mmmxxb
      .mmmxxc
        yoshiki
      .mmmxxd
        2019/12/01
    .mmmxxe
      this is a first messages
  .form
    %form
      %input.form__message
      .form__mask
        %label.form__mask__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}


