.chat
  .header
    .left-header
      .left-header__groupname
        group name
        .left-header__menber
          menber
    .right-header
      edit

  .main
    .a-main
      .a-main__mname
        yoshiki
      .a-main__date
        2019/12/01
    .b-main
      this is a first messages
  .form
    %form
      %input.form__message
      .form__mask
        %label.form__mask__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}


