.side-bar
  .header
    .header__name
      yoshiki
    .header__setion
      = link_to '#' do
        = icon('fa', 'edit',class: 'icon')
        = link_to '#' do
          = icon('fa', 'cog',class: 'icon')
  .contents 
    .groups
      .contents__group
        sample
      .contents__group1
        good bye 